.chores {
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: indigo;
    font-style: italic;
}

h3{
    text-decoration: underline;
}